---
import Form from '../components/Form.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Todo from '../components/Todo.astro';
---

<MainLayout>
  <Form />
  <Todo slot='todo'>
    <h1>THIS IS A TODO</h1>
  </Todo>
</MainLayout>
