---
---

<form id='todoForm' onsubmit='' class='flex gap-4'>
  <input
    type='text'
    placeholder='Something to do'
    class='input input-bordered rounded-none'
    id='textInput'
  />
  <button class='btn btn-primary rounded-none'>Add Todo</button>
</form>

<script is:inline>
  window.addEventListener('load', () => {
    const textInput = document.querySelector<HTMLInputElement>('#textInput');
    const todoForm = document.querySelector('#todoForm');
    let inputValue;

    todoForm?.addEventListener('submit', (e) => {
      e.preventDefault();

      inputValue = textInput?.value;
    });
  });
</script>
