---
---

<form onsubmit='' class='flex gap-4'>
  <input
    type='text'
    placeholder='Something to do'
    class='input input-bordered rounded-none'
  />
  <button class='btn btn-primary rounded-none'>Add Todo</button>
</form>
