---
---

<form id='todoForm' onsubmit='' class='flex gap-4'>
  <input
    type='text'
    placeholder='Something to do'
    class='input input-bordered rounded-none'
    id='textInput'
  />
  <button class='btn btn-primary rounded-none'>Add Todo</button>
</form>

<script>
  type NewTodoType = {
    id: number;
    todo: string;
    completed: boolean;
    userId: number;
  };

  const getNewTodo = async (inputValue: string | undefined) => {
    const res = await fetch('https://dummyjson.com/todos/add', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        todo: inputValue,
        completed: false,
        userId: 5,
      }),
    });

    const newTodo: NewTodoType = await res.json();

    return newTodo;
  };

  window.addEventListener('load', () => {
    const todosContainer = document.getElementById(
      'todosContainer'
    ) as HTMLDivElement;
    const textInput = document.querySelector<HTMLInputElement>('#textInput');
    const todoForm = document.querySelector('#todoForm');
    let inputValue: string | undefined = '';
    let listOfNewTodos: string[] = [];

    const NewTodos = (listOfNewTodos: string[]) => {
      return `
        ${listOfNewTodos.map((newTodo) => newTodo)}
      `;
    };

    todoForm?.addEventListener('submit', async (e) => {
      e.preventDefault();

      inputValue = textInput?.value;

      const newTodo = await getNewTodo(inputValue);
      const todoElement = document.createElement('div');

      listOfNewTodos.push(newTodo.todo);

      todoElement.append(NewTodos(listOfNewTodos));
      todosContainer.appendChild(todoElement);
    });
  });
</script>
