---
---

<div class='w-full flex flex-row justify-between'>
  <div class='px-8 py-4 flex justify-start items-center overflow-hidden'>
    <slot />
  </div>
  <div class='flex flex-row items-center px-8 gap-4'>
    <input type='checkbox' />
    <button class='btn btn-warning rounded-none'>Delete</button>
  </div>
</div>
