---
---

<div class='w-full card flex-row'>
  <div class='card-body'>
    <slot />
  </div>
  <div class='card-actions justify-end items-center'>
    <input type='checkbox' />
    <button class='btn btn-warning rounded-none'>Delete</button>
  </div>
</div>
